@charset 'utf-8';
@import 'mixin';


#product{
	#pageHead  {
		background-image: url(../images/product/bg_product_head.jpg);
	}
}



#main {
	position: relative;
	@include mediaMIDmax{
	  margin: 30px 0px;
	}
	@include mediaSP{
	  margin: 20px 0;
	}

  }

/*=================
  パンくず
=================*/

.brunch {
	@include mediaMIDmin {
		top: 220px;
		left: -100px;

	  }
  }


/*----------------------------------------------------
content
----------------------------------------------------*/

.content_inner {
	padding: 80px 0 0;
	margin: 0 auto;
	text-align: left;
	@include mediaSP{
		padding: 40px 0px 20px;
	}
  }




.gallery_tit {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
	text-transform: uppercase;
	max-width: 1060px;
    margin: 0 auto;
	text-align: left;
	position: relative;
	z-index: 2;
	@include mediaSP{
		font-size: 20px;
		margin: 0 20px;
	}
	span {
		display: block;
		font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
		font-size: 17px;
	}
}

.gallery_wrap {
	padding: 100px 0 180px;
	@include mediaSP{
		padding: 40px 0 80px;
	}
	&:nth-child(even){
		background: #F2F2F2;
		background-image: url(../images/product/bg_product_even.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	&:nth-child(odd){
		background-image: url(../images/product/bg_product_odd.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	&:nth-child(5){
		background-image:none;
		padding: 60px 0 0;
	}




	&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
		.gallery_tit{
			&::before{
				font-size: 200px;
				font-family: Georgia, 'Times New Roman', Times, serif;
				position: absolute;
				color: #E2E2E2;
				z-index: -1;
				@include mediaSP{
					font-size: 120px;
				}
			}
		}
	}
	&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
		.gallery_tit{
			&::before{
				right: 0;
				top: -60px;
			}
		}
	}

	&:nth-child(1){.gallery_tit{&::before{content: "01";}}}
	&:nth-child(2){.gallery_tit{&::before{content: "02";}}}
	&:nth-child(3){.gallery_tit{&::before{content: "03";}}}
	&:nth-child(4){.gallery_tit{&::before{content: "04";}}}
	&:nth-child(5){
		.gallery_tit{
			&::before{
				content: "05";
				top: -160px;
				z-index: -1;
				@include mediaPC{
					left: 120px;
				}
				@include mediaSP{
					right: 10px;
					top: -60px;
				}
			}
			&::after{
				content: "";
				background-image: url(../images/top/icon_patent.png);
				width: 145px;
				height: 145px;
				position: absolute;
				background-size: cover;
				top: 100px;
				left: 0;
				@include mediaSP{
					display: none;
				}
			}
		}
	}

}


#coating {
    padding: 240px 0 0;
    margin: -80px 0 0;
}



.swiper-container {
	margin: 50px 0;
	z-index: 2;
}

.gallery_tit_wrap {
	max-width: 1060px;
	margin: 0 auto;
	@include mediaPC{
		display: flex;
		.gallery_tit {
			width: 40%;
		}
	}
}

.coating_txt {
	text-align: left;
	line-height: 2;
	@include mediaPC{
		width: 60%;
	}
	@include mediaSP{
		margin: 30px 20px;
	}
}


.btn_panflet {
	a {
		background: #546C6C;
		max-width: 1060px;
		margin: 60px auto;
		color: #fff;
		display: block;
		padding: 20px;
		font-size: 16px;
		text-align: center;
		@include trans;
		&:hover{
			background: #505050;
		}
	}
	@include mediaSP{
		margin: 0 20px;
	}
}

.coating_badge {
	@include mediaPC{
		display: none;
	}
	float: right;
	width: 42%;
    margin: 0px 0 20px 20px;
}


