@charset "UTF-8";
/***********************共通設定************************/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
}

body {
  /* for iOS */
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

img {
  /* for Chrome */
  -webkit-backface-visibility: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  width: 100%;
  color: #211712;
  font-size: 13px;
  text-align: center;
  background: #FFFFFF;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

section {
  display: block;
}

a {
  color: #211712;
  outline: none;
  text-decoration: none;
}

a:link {
  color: #2A2727;
  text-decoration: none;
}

a:visited {
  color: #2A2727;
}

a:hover {
  color: #2A2727;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a img {
  border: none;
}

ul, li {
  list-style: none;
}

input, label, select, textarea {
  vertical-align: middle;
}

/* 750以下  */
@media all and (max-width: 750px) {
  html,
body {
    height: auto;
    overflow-x: hidden;
  }
}
/* 751以上 */
@media all and (min-width: 751px) {
  html,
body {
    height: 100%;
  }

  body {
    min-height: 100%;
    height: auto !important;
  }

  .forPC {
    display: block;
  }

  .forPC_il {
    display: inline;
  }

  .forSP {
    display: none;
  }
}
.nowrap {
  white-space: nowrap;
}

/*----------------------------------------------------
下層ページのヘッダー画像　（画像ファイルパスは個別のスタイルで設定）
----------------------------------------------------*/
#pageHead {
  background-repeat: repeat-x;
  width: 100%;
  height: 280px;
  background-size: cover;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  #pageHead {
    height: 220px;
  }
}

.inner_min {
  padding: 20px 0 0;
}

.pageTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 5px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .pageTitle {
    font-size: 28px;
    letter-spacing: 2px;
  }
}
.pageTitle span {
  font-size: 13px;
  display: block;
  margin: 10px 0 0;
}

#siteHead {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

/*----------------------------------------------------
content
----------------------------------------------------*/
#main {
  position: relative;
  /* 1300以下  */
  /* 750以下  */
}
@media all and (max-width: 1300px) {
  #main {
    margin: 30px;
  }
}
@media all and (max-width: 750px) {
  #main {
    margin: 20px 0;
  }
}

.content_inner {
  padding: 80px 0 0;
  margin: 0 auto;
  text-align: left;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .content_inner {
    padding: 40px 20px 20px;
  }
}

/*----------------------------------------------------
pageWrapper
----------------------------------------------------*/
#pageWrapper {
  width: 100%;
  overflow-x: hidden;
}

#pageHome #pageWrapper {
  opacity: 0;
}

#pageHome #pageWrapper.view {
  opacity: 1;
}

/*----------------------------------------------------
loader
----------------------------------------------------*/
#loaderBg {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background-image: url(../images/bg_load.jpg);
  background-size: contain;
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}
#loader .loader-slide {
  width: 100%;
  height: 100%;
}
#loader .loader-slide.open {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.load_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*----------------------------------------------------
inner
----------------------------------------------------*/
/*----------------------------------------------------
imgHov
----------------------------------------------------*/
/* 751以上 */
@media all and (min-width: 751px) {
  .imgHov .image {
    cursor: pointer;
    overflow: hidden;
  }

  .imgHov .image img {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .imgHov:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/*----------------------------------------------------
siteHead
----------------------------------------------------*/
#siteHead {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  height: 60px;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  #siteHead {
    height: 80px;
  }
}
#siteHead.open {
  background: white;
}

.logo {
  margin: 0 0 0 20px;
  width: 112px;
  background-blend-mode: multiply;
}

.menu {
  position: absolute;
  right: 35px;
  top: 24px;
  z-index: 99;
  cursor: pointer;
  width: 20px;
  height: 20px;
  /* 750以下  */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (max-width: 750px) {
  .menu {
    top: 14px;
    right: 20px;
  }
}
.menu span {
  display: block;
  position: absolute;
  background: #3E3E3E;
  width: 9px;
  height: 9px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu span:nth-child(1) {
  top: 0px;
  right: 11px;
}
.menu span:nth-child(2) {
  top: 0px;
  right: 0px;
}
.menu span:nth-child(3) {
  top: 11px;
  right: 11px;
}
.menu span:nth-child(4) {
  top: 11px;
  right: 0px;
}
.menu:hover span {
  width: 10px;
  height: 10px;
}
.menu:hover span:nth-child(1) {
  top: -1px;
  right: 12px;
}
.menu:hover span:nth-child(2) {
  top: -1px;
  right: -1px;
}
.menu:hover span:nth-child(3) {
  top: 12px;
  right: 12px;
}
.menu:hover span:nth-child(4) {
  top: 12px;
  right: -1px;
}
.menu::after {
  content: "MENU";
  position: absolute;
  font-size: 11px;
  top: 21px;
  left: -12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu.open::after {
  content: "CLOSE";
  position: absolute;
  font-size: 11px;
}
.menu.open span:nth-child(1), .menu.open span:nth-child(2), .menu.open span:nth-child(3), .menu.open span:nth-child(4) {
  top: 5px;
  right: 4px;
}

.showroom {
  margin: 0 90px 0 0;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .showroom {
    margin: 0 65px 0 0;
  }
}
.showroom a {
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  /* 751以上 */
  /* 750以下  */
}
@media all and (min-width: 751px) {
  .showroom a {
    color: #fff;
    font-size: 13px;
    padding: 12px 20px;
    background: #2F2F2E;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .showroom a:hover {
    background: #505050;
  }
}
@media all and (max-width: 750px) {
  .showroom a {
    border-bottom: #D6D6D6 solid 1px;
    padding: 0 0 5px;
  }
}

/*----------------------------------------------------
ハンバーガーのアコーディオン
----------------------------------------------------*/
/* 751以上 */
@media all and (min-width: 751px) {
  #gNav .navi_1, #gNav .navi_2, #gNav .navi_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 40px 0 0;
  }
  #gNav .navi_1.open, #gNav .navi_2.open, #gNav .navi_3.open {
    height: 500vh;
  }
  #gNav .navi_1 li, #gNav .navi_2 li, #gNav .navi_3 li {
    position: relative;
    display: block;
  }
  #gNav .navi_1 li:last-child, #gNav .navi_2 li:last-child, #gNav .navi_3 li:last-child {
    border: none;
  }
  #gNav .navi_1 li a, #gNav .navi_2 li a, #gNav .navi_3 li a {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  #gNav .navi_1 li a:hover, #gNav .navi_2 li a:hover, #gNav .navi_3 li a:hover {
    text-decoration: none;
  }
  #gNav .navi_1 li:last-child a, #gNav .navi_2 li:last-child a, #gNav .navi_3 li:last-child a {
    padding-right: 0;
    border-right: none;
  }
  #gNav .navi_1 li a:before, #gNav .navi_2 li a:before, #gNav .navi_3 li a:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    right: 50%;
    top: calc(0px + 1.4em);
    background: #fff;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    top: 30px;
  }
  #gNav .navi_1 li a.current:before,
#gNav .navi_1 li a:hover:before,
#gNav .navi_1 li a:focus:before,
#gNav .navi_1 li a:active:before, #gNav .navi_2 li a.current:before,
#gNav .navi_2 li a:hover:before,
#gNav .navi_2 li a:focus:before,
#gNav .navi_2 li a:active:before, #gNav .navi_3 li a.current:before,
#gNav .navi_3 li a:hover:before,
#gNav .navi_3 li a:focus:before,
#gNav .navi_3 li a:active:before {
    left: 18px;
    right: 18px;
  }
  #gNav .navi_1 li:last-child a.current:before, #gNav .navi_1 li:last-child a:hover:before, #gNav .navi_1 li:last-child a:focus:before, #gNav .navi_1 li:last-child a:active:before, #gNav .navi_2 li:last-child a.current:before, #gNav .navi_2 li:last-child a:hover:before, #gNav .navi_2 li:last-child a:focus:before, #gNav .navi_2 li:last-child a:active:before, #gNav .navi_3 li:last-child a.current:before, #gNav .navi_3 li:last-child a:hover:before, #gNav .navi_3 li:last-child a:focus:before, #gNav .navi_3 li:last-child a:active:before {
    right: 0;
  }
  #gNav .navi_3 li a {
    font-size: 13px;
    font-weight: bold;
  }
}
#gNav {
  position: absolute;
  top: -400vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  z-index: 2;
  /* 750以下  */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media all and (max-width: 750px) {
  #gNav {
    top: -600vh;
  }
}
#gNav.open {
  top: 80px;
  height: 100vh;
  overflow: auto;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  #gNav.open {
    top: 60px;
  }
}
#gNav .navi_1, #gNav .navi_2, #gNav .navi_3 {
  display: block;
}
#gNav .navi_1 li, #gNav .navi_2 li, #gNav .navi_3 li {
  height: 26px;
  text-align: left;
  margin: 0 0 20px;
}
#gNav .navi_1 li a, #gNav .navi_2 li a, #gNav .navi_3 li a {
  position: relative;
  display: block;
  color: #2B2B2B;
}

.gNav_inner {
  padding: 30px 40px 0;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .gNav_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 40px 100px;
    width: 1060px;
    margin: 0 auto;
  }
}
.gNav_inner .wrap {
  font-size: 17px;
  line-height: 0;
  /* 751以上 */
  /* 750以下  */
}
.gNav_inner .wrap p {
  margin: 30px 10vw 0 0;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .gNav_inner .wrap p {
    margin: 40px 5.5vw 0 0;
  }
}
@media all and (min-width: 751px) {
  .gNav_inner .wrap:nth-child(3) {
    font-size: 13px;
  }
}
@media all and (max-width: 750px) {
  .gNav_inner .wrap {
    font-size: 16px;
    line-height: 1;
  }
  .gNav_inner .wrap:nth-child(3) {
    font-size: 13px;
    margin: 25px 0 40px;
  }
  .gNav_inner .wrap:nth-child(3) p {
    margin: 20px 0 0 0;
  }
  .gNav_inner .wrap .nav_reservation {
    margin: 30px 10vw 30px 0;
  }
}

/*----------------------------------------------------
shop
----------------------------------------------------*/
.nav_room {
  font-family: Georgia, serif;
  padding: 0 40px;
  height: 60vh;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .nav_room {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
  }
}
.nav_room li {
  /* 750以下  */
  /* 751以上 */
}
@media all and (max-width: 750px) {
  .nav_room li {
    padding: 10px 0;
    margin: 10px 0;
  }
}
@media all and (min-width: 751px) {
  .nav_room li {
    position: relative;
    width: 30%;
    margin: 0 40px 0 0;
    height: 240px;
  }
}
.nav_room li img {
  /* 750以下  */
  /* 751以上 */
}
@media all and (max-width: 750px) {
  .nav_room li img {
    display: none;
  }
}
@media all and (min-width: 751px) {
  .nav_room li img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.nav_room li:hover img {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .nav_room li:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.nav_room a {
  color: #fff;
  font-size: 13px;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .nav_room a {
    color: #2B2B2B;
    text-align: left;
    text-decoration: none;
  }
}

.nav_room_img {
  max-width: 300px;
  max-height: 180px;
  overflow: hidden;
}

/* 750以下  */
@media all and (max-width: 750px) {
  .nav_komaki {
    background: #9B8A75;
  }

  .nav_hamamatsu {
    background: #554848;
  }

  .nav_toyama {
    background: #546C6C;
  }
}
.nav_alphabet {
  font-size: 16px;
  color: #9B8A75;
  display: block;
  line-height: 2.4;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .nav_alphabet {
    display: none;
  }
}

.nav_txt {
  display: block;
}

/*----------------------------------------------------
footer
----------------------------------------------------*/
#footer {
  background: #2F2F2E;
}
#footer a {
  text-decoration: none;
}

#pageHome #footer {
  background: #E8E8E8;
}

.foot_right_navi {
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .foot_right_navi {
    margin: auto;
  }
}

.footer_nav {
  padding: 80px 40px;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .footer_nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px;
  }
}

.footer_nav_main {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .footer_nav_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

.footer_company {
  font-size: 13px;
  text-align: left;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .footer_company {
    margin: 60px 0;
  }
}
.footer_company a {
  color: #fff;
}

.footer_company_location {
  color: #9B8A75;
  margin: 20px 0;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .footer_company_location br {
    display: none;
  }
}

.footer_company_map {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer_company_map a {
  border-bottom: 1px solid #434343;
  padding: 0 0 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer_company_map a:hover {
  padding: 0 0 1px;
}

.footer_nav_menu {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .footer_nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer_nav_menu ul {
  text-align: left;
  margin: 0 60px 0 0;
  /* 1000以下  */
}
@media all and (max-width: 1000px) {
  .footer_nav_menu ul {
    margin: 0 10% 0 0;
  }
}
.footer_nav_menu ul:last-child {
  margin: 0;
}
.footer_nav_menu li {
  font-size: 13px;
  margin: 0 0 30px 0;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .footer_nav_menu li {
    margin: 0 0 40px 0;
  }
}
.footer_nav_menu li a {
  color: #9B8A75;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer_nav_menu li a:hover {
  color: #fff;
}
.footer_nav_menu li span {
  color: #fff;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  display: block;
}

.copy {
  color: #9B8A75;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  text-align: left;
  letter-spacing: 3px;
}

/*----------------------------------------------------
トップに戻るボタン
----------------------------------------------------*/
#toPageTop {
  position: fixed;
  bottom: 15%;
  right: -30%;
  width: 210px;
  margin-top: 39.666%;
  opacity: 0.8;
  z-index: 3;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  /* 751以上 */
  bottom: 140px;
}
@media all and (min-width: 751px) {
  #toPageTop {
    width: 100px;
    right: -10%;
  }
}
#toPageTop::before {
  content: "";
  position: absolute;
  border-top: solid 1px #9B8A75;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 60px;
  top: -70px;
  left: 50%;
  margin-left: -30px;
}
#toPageTop::after {
  content: "PAGE TOP";
  position: absolute;
  color: #9B8A75;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 50%;
  margin-left: -150px;
  width: 300px;
}
#toPageTop:hover {
  bottom: 10%;
}
#toPageTop.scrollfixed {
  right: -20%;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  #toPageTop.scrollfixed {
    right: 0%;
  }
}

/*----------------------------------------------------
pageHead
----------------------------------------------------*/
#pageHead .inner_min {
  max-width: 1100px;
  margin: 0 auto;
}

/* pageTitle */
.pageTitle {
  margin: 100px 0 0;
  padding: 20px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .pageTitle {
    margin: 80px 0 0;
    padding: 0px;
  }
}

.jp {
  font-size: 36px;
  letter-spacing: 0.24em;
  /* 750以下  */
  /* 751以上 */
}
@media all and (max-width: 750px) {
  .jp {
    font-size: 20px;
  }
}
@media all and (min-width: 751px) {
  .jp br {
    display: none;
  }
}

/* category */
#pageHead.category .inner_min::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #1B65B9;
  margin-bottom: -10px;
}
#pageHead.category .inner_min ul {
  letter-spacing: -0.4em;
}
#pageHead.category .inner_min ul li {
  display: inline-block;
  letter-spacing: normal;
  margin-left: 8px;
}
#pageHead.category .inner_min ul li:first-child {
  margin-left: 0;
}
#pageHead.category .inner_min ul li a {
  display: block;
  color: #1B65B9;
  font-size: 12px;
  line-height: 16px;
  padding: 0 1em;
  background: #FFFFFF;
  border-radius: 8px;
  border: solid 2px #1B65B9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#pageHead.category .inner_min ul li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background: #C63C2B;
  border-color: #C63C2B;
}
#pageHead.category .inner_min ul li.active a {
  color: #FFFFFF;
  background: #C63C2B;
  border-color: #C63C2B;
}

/*----------------------------------------------------
pagination
----------------------------------------------------*/
.navSingle {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
}
.navSingle .navPrevious {
  float: left;
  padding: 0 1em 1em 0;
}
.navSingle .navNext {
  float: right;
  padding: 0 0 1em 1em;
}

/* ページ送り */
.nextpostslink,
.previouspostslink {
  /* display: none!important; */
  font-size: 14px;
  font-weight: bold;
  width: auto !important;
}

.nextpostslink {
  padding-left: 1em;
}

.previouspostslink {
  padding-right: 1em;
}

/*----------------------------------------------------
他ページへのリンク
----------------------------------------------------*/
.other_link {
  margin: 0px 50px 100px;
  text-align: right;
  position: relative;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .other_link {
    margin: 0px 110px 100px auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
.other_link a {
  text-align: left;
  text-decoration: none;
}
.other_link::before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #1B65B9;
  position: absolute;
  right: -39px;
}
.other_link::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  right: -29px;
  width: 9px;
  height: 9px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
}
.other_link:hover::before {
  right: -29px;
}
.other_link:hover::after {
  right: -19px;
}

/*----------------------------------------------------
カテゴリー別のカラー
----------------------------------------------------*/
a.inspection {
  background: #a04c47;
}
a.prevention {
  background: #617757;
}
a.union {
  background: #466ba1;
}
a.company {
  background: #d6be51;
}
a.cmc {
  background: #412211;
}
a.other {
  background: #a14671;
}

/*----------------------------------------------------
moya.js  メニューホバー時の演出
----------------------------------------------------*/
#gNav p {
  font-weight: 300;
  position: relative;
  z-index: 10;
  text-align: left;
}
#gNav p a {
  color: #2B2B2B;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
#gNav p a:hover {
  color: #795F53;
}
#gNav .wrap .back_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
#gNav .wrap .back_text div {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 90px;
  font-weight: 300;
  color: #E2E2E2;
  margin: 10px 0;
  position: absolute;
  top: 120px;
  line-height: 1.2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  right: 322px;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.7s, top 0.9s cubic-bezier(0.22, 1, 0.36, 1), -webkit-filter 0.7s;
  transition: opacity 0.7s, top 0.9s cubic-bezier(0.22, 1, 0.36, 1), -webkit-filter 0.7s;
  transition: filter 0.7s, opacity 0.7s, top 0.9s cubic-bezier(0.22, 1, 0.36, 1);
  transition: filter 0.7s, opacity 0.7s, top 0.9s cubic-bezier(0.22, 1, 0.36, 1), -webkit-filter 0.7s;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  z-index: -1;
}
#gNav .wrap .back_text div.active {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  #gNav .wrap .back_text div.active {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    top: 65px;
  }
}
#gNav .nav_room .back_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
#gNav .nav_room .back_text div {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 90px;
  font-weight: 300;
  color: #E2E2E2;
  margin: 10px 0;
  position: absolute;
  top: 120px;
  line-height: 1.2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  right: 322px;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 1s, top 1.2s cubic-bezier(0.36, 1, 0.3, 1), -webkit-filter 1s;
  transition: opacity 1s, top 1.2s cubic-bezier(0.36, 1, 0.3, 1), -webkit-filter 1s;
  transition: filter 1s, opacity 1s, top 1.2s cubic-bezier(0.36, 1, 0.3, 1);
  transition: filter 1s, opacity 1s, top 1.2s cubic-bezier(0.36, 1, 0.3, 1), -webkit-filter 1s;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  z-index: -1;
}
#gNav .nav_room .back_text div.active {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  #gNav .nav_room .back_text div.active {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    top: 65px;
  }
}

/*=================
  ホバー時にくるっと弧を描くボタン
=================*/
/* 751以上 */
@media all and (min-width: 751px) {
  .cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .cp_arrows .link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
  }

  .cp_arrows .cp_arrow .arrow_icon {
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
  }

  .cp_arrows .cp_arrow .arrow_icon_circle {
    -webkit-transition: stroke-dashoffset 0.3s ease;
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }

  .cp_arrows .cp_arrow:hover .arrow_icon_circle {
    stroke-dashoffset: 0;
  }

  .index_circle {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: #CECECE 1px solid;
    color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    letter-spacing: 3px;
    position: absolute;
    top: -46px;
    left: 11px;
    line-height: 8.3;
    text-align: center;
  }
}
/* 750以下  */
@media all and (max-width: 750px) {
  .cp_arrows {
    height: 120px;
  }

  .arrow_icon, .arrow_icon_circle {
    display: none;
  }

  .index_circle {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: #CECECE 1px solid;
    color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    letter-spacing: 3px;
    position: absolute;
    line-height: 8.3;
    left: 50%;
    margin-left: -54px;
    text-align: center;
  }
  .index_circle::after {
    content: "";
    width: 116px;
    height: 116px;
    border-radius: 50%;
    border: #CECECE 1px solid;
    position: absolute;
    top: -5px;
    left: -5px;
  }
}
/*=================
  パンくず
=================*/
.brunch {
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  font-size: 13px;
  color: #2B2B2B;
  /* 1301以上  */
  /* 1300以下  */
}
@media all and (min-width: 1301px) {
  .brunch {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    top: 170px;
    left: -50px;
  }
  .brunch a {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .brunch a:hover {
    color: #9B8A75;
  }
}
@media all and (max-width: 1300px) {
  .brunch {
    margin: 0 20px;
  }
}
.brunch ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brunch li {
  margin: 0 40px 0 0;
  position: relative;
}
.brunch li::after {
  content: "";
  left: 54px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #2B2B2B;
  border-right: 1px solid #2B2B2B;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
}
.brunch li:last-child::after {
  display: none;
}

/*=================
  HOMEボタン
=================*/
.btn_home {
  margin: 80px auto 160px;
  text-align: center;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .btn_home {
    margin: 0px auto 60px;
  }
}
.btn_home a {
  background: #2F2F2E;
  color: #fff;
  font-size: 13px;
  padding: 20px 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn_home a:hover {
  background: #505050;
}

/*=================
  店舗カテゴリーのボタン色
=================*/
.category {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.category li {
  margin: 0 5px;
}
.category li:first-child {
  margin: 0 5px 0 0;
}
.category a {
  color: #fff;
  width: 65px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 12px;
  line-height: 1.5;
  transition: all 0.3s;
  /* 751以上 */
}
.category a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media all and (min-width: 751px) {
  .category a {
    font-size: 13px;
  }
}

.komaki {
  background: #867662;
}

.hamamatsu {
  background: #554848;
}

.toyama {
  background: #546C6C;
}
/*# sourceMappingURL=common.css.map */