@charset "UTF-8";
/***********************共通設定************************/
#news #pageHead {
  background-image: url(../images/news/bg_news_head.jpg);
}

/*=================
  パンくず
=================*/
.brunch {
  /* 1301以上  */
}
@media all and (min-width: 1301px) {
  .brunch {
    top: 160px;
    left: -40px;
  }
}

/*===============================
  NEWS　一覧ページ
================================*/
.news_wrap {
  max-width: 1060px;
  margin: 0 auto;
  text-align: left;
}

.news_list_tit {
  font-size: 16px;
}

.news_list {
  border-top: 1px solid #D1D1D1;
  padding: 30px 0;
}
.news_list:last-child {
  border-bottom: 1px solid #D1D1D1;
}

.news_list_time {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #969696;
  line-height: 3;
  letter-spacing: 2px;
}

a.news_list_tit_link {
  position: relative;
  left: 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a.news_list_tit_link:hover {
  left: 10px;
}

/*===============================
  NEWS　記事ページ
================================*/
.news_time {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #969696;
  line-height: 3;
  letter-spacing: 2px;
}

.news_tit {
  font-size: 22px;
}

.news_content {
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .news_content {
    margin: 10px 0 60px;
  }
}
.news_content p {
  line-height: 1.6;
  margin: 10px 0 0;
}
.news_content p img {
  width: unset;
}

/*===============================
  NEWS　ページャー
================================*/
.news_list_pager {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #9B8A75;
  margin: 70px 0;
  text-align: center;
}
.news_list_pager span, .news_list_pager a {
  margin: 0 20px 0 0;
  padding: 0 0 5px;
}
.news_list_pager span:last-child, .news_list_pager a:last-child {
  margin: 0;
}
.news_list_pager span {
  border-bottom: 1px solid #9B8A75;
}
.news_list_pager a {
  color: #2B2B2B;
  border-bottom: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.news_list_pager a:hover {
  color: #9B8A75;
}
.news_list_pager .dots {
  border-bottom: none;
}
.news_list_pager .prev, .news_list_pager .next {
  position: relative;
}
.news_list_pager .prev::after, .news_list_pager .next::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #2B2B2B;
  border-right: 1px solid #2B2B2B;
  position: absolute;
  top: 9px;
  left: -4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.news_list_pager .prev:hover::after, .news_list_pager .next:hover::after {
  border-top: 1px solid #9B8A75;
  border-right: 1px solid #9B8A75;
}
.news_list_pager .prev::after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.news_list_pager .next::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}